<li class="dropdown_item fowor-item">
    <a href="#" class="drp fowor-icon"></a>
    <ul class="dropdown_body">
        <li class="d_body-block-itme">
                <ul class="drp_menu-body">
                    <li>
                        <div class="cart-products-img-name d-flex">
                            <a href="#" class="cart-products-link d-flex">
                                <div class="cart-products-img">
                                        <img src="catalog/view/theme/default/images/hours/1.png" alt="">
                                </div>
                                <div class="cart-name-number">
                                    <div class="cart-products-name">
                                        Tissot original M324 version
                                    </div>
                                </div>
                            </a>
                            <span class="remove_link">
                                <a href="#"></a>
                            </span> 
                        </div>
                    </li>
                </ul>
        </li>
        <li class="d_body-block-itme footer-item">
            <a href="#">Перейти к списку</a>
        </li>
    </ul>
</li> <!--end li  dropdown_item-->