{{ header }}
<!--start User-cabinet-->
<section class="cart-is-empty  mt-5 mb-5">
    <div class="container py-5 my-5 conimg" style="background-image: url(catalog/view/theme/default/images/icon/2.svg);">
        <div class="row justify-content-center py-5">
            <div class="col-12 col-md-10 col-lg-8 text-center">
                <div class="fdb-box">
                    <p class="lead">
                        {{ text_error }}
                    </p>
                </div>
            </div>
        </div>
      </div> 
</section>
<!--start User-cabinet-->
{{ footer }}
