{{ header }}

    {{ menu }}

    <section class="contacts_my service-center ">
      <div class="container">
          
          <div class="row">

              <div class="col-12 col-md-6 col-lg-6">
                  <div class="row">
                      <div class="col-12">
                          <div class="abuot-img">
                              <img src="catalog/view/theme/default/images/about/1.jpg" alt="">
                          </div>
                      </div><!-- // end  col -->
                      <div class="col-6">
                          <div class="abuot-img min_h">
                              <img src="catalog/view/theme/default/images/about/1.jpg" alt="">
                          </div>
                      </div><!-- // end  col -->
                      <div class="col-6">
                          <div class="abuot-img min_h">
                              <img src="catalog/view/theme/default/images/about/1.jpg" alt="">
                          </div>
                      </div><!-- // end  col -->
                  </div>
              </div><!-- // end  col -->

              <div class="col-12 col-md-6 col-lg-6">
                  <div class="contacts_my_big border_color">
                      <span class="title">Название организации</span>
                      <div class="service-info">
                          <div class="service-photo"><a href="#"> +12345678901</a></div>
                          <div class="service-photo"><a href="#"> +12345678901</a></div>
                          <div class="service-photo"><a href="#"> Название@gmai.com</a></div>
                          <div class="service-aders"><a href="#"> Toshkent sh., Ko'chasi Buyuk Ipak Yo'li, 24-13 uy</a></div>
                          <ul>
                              <li>
                                  <p>Пн–Пт</p>
                                  <span>08:00-18:00</span>
                              </li>
                              <li>
                                  <p>Сб</p>
                                  <span>08:00-18:00</span>
                              </li>
                              <li>
                                  <p>Вс</p>
                                  <span>Выходной</span>
                              </li>
                          </ul>
                          <div class="footer-uslu-content">
                              <a href="#"><img src="catalog/view/theme/default/images/icon/viber.svg" alt=""></a>
                              <a href="#"><img src="catalog/view/theme/default/images/icon/telegram.svg" alt=""></a>
                              <a href="#"><img src="catalog/view/theme/default/images/icon/whatsapp.svg" alt=""></a>
                          </div>
                      </div>
                  </div>
              </div><!-- // end  col -->

          </div><!-- // end row -->           

      </div>
    </section>

{{ footer }}